# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environments
env/
venv/
ENV/
.venv/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Sphinx documentation
_docs/

# PyInstaller
*.manifest
*.spec

# MacOS
.DS_Store

# Windows
Thumbs.db
